<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <title>Scheduler | Create Schedule</title>
  </head>
  <body>
    {{> header flag=flag username=username}}
    <div hidden id="currUser">{{username}}</div>
    <div class="wrapper d-flex align-items-stretch">
      <div id="newSchedule" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Schedule Name</h5>
            </div>
            <div class="modal-body">
              <form class="mb-3">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name Your Schedule" id="newScheduleName">
                </div>
                <div id="errorNewSchedule" class="form-text"></div>
                <button type="submit" class="btn btn-primary mt-2" id="createNewSchedule" data-bs-dismiss="modal" disabled>Create</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    <nav class="sidebar">
      <div class="p-3 pt-3">
        <form>
          <div class="form-group mb-2">
            <input type="text" class="form-control" id="scheduleName" aria-describedby="emailHelp" value="">
          </div>
        </form>
        <h3>Class List</h3>
          <div class="card" style="max-height: 410px;">
            <ul class="list-group list-group-flush" style="overflow:auto">
              <!-- Magical stuff -->
          <div id="classList">
            </div>
             </ul>
              
            <!-- </div> -->
          <div class="row gx-1">
            <div class="col">
            <button type="button" class="btn btn-primary btn-lg mt-1 w-100" data-bs-toggle="modal" data-bs-target="#addClass">Add</button>
            <div class="modal fade" id="addClass" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addClassLabel">Choose a Class</h5>
                </div>
                <div class="modal-body">
                  <div class="card" style="max-height: 400px;">
                      <ul class="list-group list-group-flush" style="overflow:auto">
                        {{#each classList}}
                          {{#if className}}
                            <li class="list-group-item" id="LI2{{classId}}">
                              <div class="container p-0">
                                <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="add" id="A{{classId}}">
                                <label class="form-check-label" for="flexCheckDefault" id="L2{{classId}}">{{fullName}}</label>
                              </div></div>
                            </li>
                          {{/if}}
                        {{/each}}
                        <!-- more magical stuff from db  -->
                        <div id="addClassList">
                        </div>
                      </ul>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick=cancelAdd()>Cancel</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick=addToClassList()>Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary btn-lg mt-1 w-100" data-bs-toggle="modal" data-bs-target="#deleteClass">Delete</button>
          <div class="modal fade" id="deleteClass" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteClassLabel">Choose a Class</h5>
                </div>
                <div class="modal-body">
                  <div class="card" style="max-height: 400px;">
                      <ul class="list-group list-group-flush" style="overflow:auto" id="deleteClassList">
                        <!-- magical stuff from db -->
                        <div id="delClassList">
                        </div>
                      </ul>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick=cancelDelete()>Cancel</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick=deleteFromClassList()>Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          <div class="row gx-1">
            <div class="col">
            <button type="button" class="btn btn-primary btn-lg mt-1 w-100 show-modal" data-bs-toggle="modal" data-bs-target="#createClass">Create</button>
          <div class="modal fade" data-backdrop="static" id="createClass" tabindex="-1" role="dialog"aria-labelledby="staticBackdropLabel" aria-hidden="true" >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Create your own Class</h5>
                </div>
                <div class="modal-body">
                  <div class="card" style="max-height: 320px;">
                      <ul class="list-group list-group-flush" style="overflow:auto" id="createClassList">
                        <li class="list-group-item" id="">
                          <form>
                            <label for="classCode" class="form-label">Class Code</label>
                            <input type="text" class="form-control" id="classCodeValue" aria-describedby="emailHelp" maxlength="7" minlength="7">
                            <div id="classCodeHelp" class="form-text">Must be 7 letters long</div>
                          </form>
                          <label for="classDates" class="form-label mt-2">Class Date/s</label>
                          <div id="createCodeHelp" class="form-text">Choose at least one day</div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="create" id="Monday">
                            <label class="form-check-label" for="flexCheckDefault">
                              Monday
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="create" id="Tuesday">
                            <label class="form-check-label" for="flexCheckDefault">
                              Tuesday
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="create" id="Wednesday">
                            <label class="form-check-label" for="flexCheckDefault">
                              Wednesday
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="create" id="Thursday">
                            <label class="form-check-label" for="flexCheckDefault">
                              Thursday
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="create" id="Friday">
                            <label class="form-check-label" for="flexCheckDefault">
                              Friday
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="create" id="Saturday">
                            <label class="form-check-label" for="flexCheckDefault">
                              Saturday
                            </label>
                          </div>
                          <div class="row gx-1 mt-2">
                            <label for="classCode" class="form-label">Time Frame</label>
                            <div id="createCodeHelp" class="form-text">Must be within 07:00-22:00</div>
                          </div>
                          <div class="row gx-1">
                          <div class="col">
                              <label class="form-check-label" for="flexCheckDefault">
                                Start Time
                              </label>
                              <input id="startTime" type="text" class="timepicker" name="datetime" placeholder="Time*" required/>
                          </div>
                          <div class="col">
                              <label class="form-check-label" for="flexCheckDefault">
                                End Time
                              </label>
                              <input id="endTime" type="text" class ="timepicker" name="datetime" placeholder="Time*" required/>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div id="errorNewClass" class="form-text"></div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelCreate">Cancel</button>
                  <button type="button" class="btn btn-primary"  id="creatingClass">Create</button>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="col">
            <button id="saveSchedule" type="button" class="btn btn-primary btn-lg mt-1 w-100">Save</button>
          </div>
        </div>
        <button class="btn btn-primary btn-lg btn-block mt-1 w-100 btn-success" onclick="saveCanvas()">Download Schedule</button>
           <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5"> 
            <div id="EpicToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <img src="/img/download.png" width=15px class="rounded me-2" alt="Downloading">
              <strong class="me-auto">Downloading Schedule</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body toast_text">
              Please wait for a moment while we convert your schedule. It will automatically download after converting.
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div id="capture" class="p-4 mr-5">
      <div id="content" class="p-4 p-md-5">
      <div class="row">
        <!-- Row 1 -->
        <div class="col-1"></div>
        <div class="col border border-dark">Monday</div>
        <div class="col border border-dark">Tuesday</div>
        <div class="col border border-dark">Wednesday</div>
        <div class="col border border-dark">Thursday</div>
        <div class="col border border-dark">Friday</div>
        <div class="col border border-dark">Saturday</div>
      </div>
      <div class="row">
        <!-- Row 2 -->
        <div class="col-1 border border-dark">07</div>
        <div class="col border border-dark" id="M7"></div>
        <div class="col border border-dark" id="T7"></div>
        <div class="col border border-dark" id="W7"></div>
        <div class="col border border-dark" id="H7"></div>
        <div class="col border border-dark" id="F7"></div>
        <div class="col border border-dark" id="S7"></div>
        </div>
      <div class="row">
        <!-- Row 3 -->
        <div class="col-1 border border-dark">08</div>
        <div class="col border border-dark" id="M8"></div>
        <div class="col border border-dark" id="T8"></div>
        <div class="col border border-dark" id="W8"></div>
        <div class="col border border-dark" id="H8"></div>
        <div class="col border border-dark" id="F8"></div>
        <div class="col border border-dark" id="S8"></div>
        </div>
      <div class="row">
        <!-- Row 4 -->
        <div class="col-1 border border-dark">09</div>
        <div class="col border border-dark" id="M9"></div>
        <div class="col border border-dark" id="T9"></div>
        <div class="col border border-dark" id="W9"></div>
        <div class="col border border-dark" id="H9"></div>
        <div class="col border border-dark" id="F9"></div>
        <div class="col border border-dark" id="S9"></div>
        </div>
      <div class="row">
        <!-- Row 5 -->
        <div class="col-1 border border-dark">10</div>
        <div class="col border border-dark" id="M10"></div>
        <div class="col border border-dark" id="T10"></div>
        <div class="col border border-dark" id="W10"></div>
        <div class="col border border-dark" id="H10"></div>
        <div class="col border border-dark" id="F10"></div>
        <div class="col border border-dark" id="S10"></div>
        </div>
      <div class="row">
        <!-- Row 6 -->
        <div class="col-1 border border-dark">11</div>
        <div class="col border border-dark" id="M11"></div>
        <div class="col border border-dark" id="T11"></div>
        <div class="col border border-dark" id="W11"></div>
        <div class="col border border-dark" id="H11"></div>
        <div class="col border border-dark" id="F11"></div>
        <div class="col border border-dark" id="S11"></div>
        </div>
      <div class="row">
        <!-- Row 7 -->
        <div class="col-1 border border-dark">12</div>
        <div class="col border border-dark" id="M12"></div>
        <div class="col border border-dark" id="T12"></div>
        <div class="col border border-dark" id="W12"></div>
        <div class="col border border-dark" id="H12"></div>
        <div class="col border border-dark" id="F12"></div>
        <div class="col border border-dark" id="S12"></div>
        </div>
      <div class="row">
        <!-- Row 8 -->
        <div class="col-1 border border-dark">13</div>
        <div class="col border border-dark" id="M13"></div>
        <div class="col border border-dark" id="T13"></div>
        <div class="col border border-dark" id="W13"></div>
        <div class="col border border-dark" id="H13"></div>
        <div class="col border border-dark" id="F13"></div>
        <div class="col border border-dark" id="S13"></div>
        </div>
      <div class="row">
        <!-- Row 9 -->
        <div class="col-1 border border-dark">14</div>
        <div class="col border border-dark" id="M14"></div>
        <div class="col border border-dark" id="T14"></div>
        <div class="col border border-dark" id="W14"></div>
        <div class="col border border-dark" id="H14"></div>
        <div class="col border border-dark" id="F14"></div>
        <div class="col border border-dark" id="S14"></div>
        </div>
      <div class="row">
        <!-- Row 10 -->
        <div class="col-1 border border-dark">15</div>
        <div class="col border border-dark" id="M15"></div>
        <div class="col border border-dark" id="T15"></div>
        <div class="col border border-dark" id="W15"></div>
        <div class="col border border-dark" id="H15"></div>
        <div class="col border border-dark" id="F15"></div>
        <div class="col border border-dark" id="S15"></div>
        </div>
      <div class="row">
        <!-- Row 11 -->
        <div class="col-1 border border-dark">16</div>
        <div class="col border border-dark" id="M16"></div>
        <div class="col border border-dark" id="T16"></div>
        <div class="col border border-dark" id="W16"></div>
        <div class="col border border-dark" id="H16"></div>
        <div class="col border border-dark" id="F16"></div>
        <div class="col border border-dark" id="S16"></div>
        </div>
      <div class="row">
        <!-- Row 12 -->
        <div class="col-1 border border-dark">17</div>
        <div class="col border border-dark" id="M17"></div>
        <div class="col border border-dark" id="T17"></div>
        <div class="col border border-dark" id="W17"></div>
        <div class="col border border-dark" id="H17"></div>
        <div class="col border border-dark" id="F17"></div>
        <div class="col border border-dark" id="S17"></div>
        </div>
      <div class="row">
        <!-- Row 13 -->
        <div class="col-1 border border-dark">18</div>
        <div class="col border border-dark" id="M18"></div>
        <div class="col border border-dark" id="T18"></div>
        <div class="col border border-dark" id="W18"></div>
        <div class="col border border-dark" id="H18"></div>
        <div class="col border border-dark" id="F18"></div>
        <div class="col border border-dark" id="S18"></div>
        </div>
      <div class="row">
        <!-- Row 14 -->
        <div class="col-1 border border-dark">19</div>
        <div class="col border border-dark" id="M19"></div>
        <div class="col border border-dark" id="T19"></div>
        <div class="col border border-dark" id="W19"></div>
        <div class="col border border-dark" id="H19"></div>
        <div class="col border border-dark" id="F19"></div>
        <div class="col border border-dark" id="S19"></div>
        </div>
      <div class="row">
        <!-- Row 14 -->
        <div class="col-1 border border-dark">20</div>
        <div class="col border border-dark" id="M20"></div>
        <div class="col border border-dark" id="T20"></div>
        <div class="col border border-dark" id="W20"></div>
        <div class="col border border-dark" id="H20"></div>
        <div class="col border border-dark" id="F20"></div>
        <div class="col border border-dark" id="S20"></div>
        </div>
      <div class="row">
        <!-- Row 14 -->
        <div class="col-1 border border-dark">21</div>
        <div class="col border border-dark" id="M21"></div>
        <div class="col border border-dark" id="T21"></div>
        <div class="col border border-dark" id="W21"></div>
        <div class="col border border-dark" id="H21"></div>
        <div class="col border border-dark" id="F21"></div>
        <div class="col border border-dark" id="S21"></div>
        </div>
    </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--toast-->
    <script type="text/javascript" src="/js/schedule.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script type="text/javascript" src="/js/html2canvas.min.js"></script>
  </body>
</html>