<!doctype html>
<html lang="en">
  <head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
    <link href="sticky-footer.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    
    <title>Scheduler | View Account</title>
  </head>
  <body>
    {{> header flag=flag}}
    <div class="container">
      <img src="/img/user_icon1.jpg" class="img-thumbnail" alt="User Icon" width=200px height=200px>
            <fieldset disabled>
      <form class="row g-3">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Username</label>
          <input type="text" class="form-control" id="inputUsername" value="{{user.username}}">
        </div>
        <div class="col-6">
          <label for="inputAddress" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="inputAddress" value="{{user.email}}">
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Description</label>
          <input type="text" class="form-control" id="inputAddress2" value="{{user.desc}}">
        </div>
      </form>
      {{#if same}}
      <section class="createpost d-flex justify-content-center">
        <form action="/create_post" method="get">
          <input type="submit" class="search-btn" id="createpost-btn" value="Create a Post">
        </form>
      </section>
      {{/if}}
      <div class="container sched-homepage ">
        <div class="row gy-5">
          {{#each result}}
            {{#if _id}}
                <div class="col-sm-6 col-lg-4 col-xl-3 d-flex justify-content-center">
                    <div class="card schedcard">
                        <a href="/viewpost/{{_id}}" class="post-title card-title">{{schedTitle}}</a>
                        <a href="/viewpost/{{_id}}" type="button" class="btn p-0" id="{{_id}}">
                            <img class="sched-img card-img-top" src="{{postImg}}">
                        </a>
                        {{#if ../same}}
                        <row class="edit-del-mysched-btns d-flex justify-content-center">
                            <col><a href="/editpost/{{_id}}" class="mysched-btn edit-mysched-btn"><i class="fas fa-edit"></i></a></col>
                            <col><a href="/deletepost/{{_id}}" class="mysched-btn delete-mysched-btn"><i class="fas fa-trash-alt"></i></a></col>
                        </row>
                        {{/if}}
                    </div>
                </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
    {{> footer}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>